@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jost Variable", sans-serif;
}
.title {
  font-family: "Manrope Variable", sans-serif;
  font-weight: 800;
  color: blueviolet;
  font-size: 22px;
}
.input-form {
  @apply bg-neutral-100 px-4 py-2 outline-0 w-[300px] border rounded-full;
}
.btn-form {
  @apply bg-purple-400 py-2 rounded-full text-white font-medium hover:bg-purple-500;
}
.error {
  @apply text-red-500 text-sm max-w-[300px];
}
